body{
 background-color:lightblue;
}

.divformulario{

    width: 20%;
    margin: auto;
    text-align: center;
}

textarea{

    width: 100%;
    resize: none;
}

.panel-footer{
    background-color:white;
}

.login{
    margin:auto;
    margin-top: 10%;
    width:40%;
}

.panel-primary {
     border-color: white;
}