body{
    background-color:lightblue;
    margin-left: 15px;
}

.divformulario{

    width: 20%;
    margin: auto;
    text-align: center;
}

textarea{

    width: 100%;
    resize: none;
}

.panel-footer{
    background-color:white;
}

.login{
    margin:auto;
    margin-top: 10%;
    width:40%;
}

.loginerror{
    margin:auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width:40%;
}

.botonImagen{
    height: 180px;
    width: 180px;

    background-color: transparent;
    border: 0px;
}

.botonRol{
    margin-top:5%;
    text-align: center;
}

.tituloElegirRol{
    width: 100%;
    margin: auto;
    text-align: center;
}

.imagenBoton{
    width: 100%;
}

.panel-primary {
    border-color: white;
}

.contenedorPrincipal{
    /*    margin-left: 8px;
        margin-right: 8px;*/
    background-color: #F5F3F3;
    min-height: 600px;
}

.cargoCat{
    min-height: 50px;
    background-color: #F5F3F3;
}

.botonCargoCat{
    margin-left: 30px;
    margin-top: 10px;
}

.divBotonCargoCat{
    width: 15%; 
    float: left;
    margin-right: 15px;
}

.contenedorColumnas{
    min-width: 100%;
    position: relative;
    overflow-y: auto;

}

.columna{
    display: flex;
    float: left;
    width: 270px;
    background-color: #548aa8;
    min-height: 400px;
    margin: 5px;


    /*Estilo del borde del divisor de la columna*/
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 0px solid #000000;
}

.limpiar{
    clear: both;
}

.divregistro{

    width: 25%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

